<div class="page-header">
	<h1>Editar WBS Nivel 1</h1>	
</div>


<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-eye-open icon-white"></i> Ver'), production_sector_path(@sector), :class => "btn btn-info" %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), production_sectors_path, :class => "btn btn-primary" %>		
</div>

