<% @partidasdecontrols.each do |partidasdecontrol| %>	
<option value="<%= partidasdecontrol.id %>"><%= "#{partidasdecontrol.phase.codigo}#{partidasdecontrol.subphase.codigo} #{partidasdecontrol.subphase.descripcion}" %></option>
<% end %>